<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CL.Views.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CL.Views.Settings1>
            <setting name="Microsoft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectIndexAccount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EncryptKey" serializeAs="String">
                <value />
            </setting>
        </CL.Views.Settings1>
    </userSettings>
</configuration>